
body{

  background-size: cover;

  background-position: relative;
  float: center;
}

html{
  height: 100%;

}


 p{
  font-size: 110px;
  font-family: 'Iceland', cursive;
  /*color: #9af409;*/
  color:#2cf408;

 }

 div{
  text-align: center;
  /*padding-top: 170px;*/
  margin:0 auto;
  position: block;
  padding-top: 170px;



 }

#greetings {

   text-align: center;
   padding:0;
   font-size: 42px;
   font-family: 'Josefin Sans', sans-serif;
   color: #08b5f4;



 }

 @media only screen and (min-width: 414px) and (max-width:450px){

   div {
    text-align: center;
     padding-top: 70px;

   }
   body{
       background-position-x:-20em;
   }

}

 @media only screen and (min-width: 768px) and (max-width:1024px){

   div {
    text-align: center;
     padding-top:  300px;

   }


 }

 @media only screen and (min-width: 500px) and (max-width:768px){

   div {
    text-align: center;
     padding-top:  300px;

   }

 }
